<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink ="/">CRUD Empleados</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/empleados"><i class="fas fa-list-alt"></i> Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/empleados/add"><i class="fas fa-user-plus"></i> Nuevo empleado</a>
        </li>
      </ul>
    </div>
    </div>
</nav>