<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="empleado.name" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="last_name" [(ngModel)]="empleado.last_name" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" [(ngModel)]="empleado.email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" [(ngModel)]="empleado.phone" placeholder="Telefono" class="form-control">
                </div>
                <button class="btn btn-success btn-block" (click)="edit ?  updateEmpleado() : saveEmpleado()">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>
