
<div class="col-6 col-md-4" *ngFor= "let empleado of empleados">
    <div class="card text-center">
        <div class="card-header d-flex justify-content-between align-items-center">
            {{empleado.name}} {{empleado.last_name}}
        </div>
        <img src="https://devtalk.blender.org/uploads/default/original/2X/c/cbd0b1a6345a44b58dda0f6a355eb39ce4e8a56a.png" alt="img" class="card-img-top pt-4">
        <div class="card-body">
            Email: {{empleado.email}}<br>
            Telefono: {{empleado.phone}}
        </div>
        <div class="card-footer row">
            <button [routerLink]="['/empleados/edit',empleado.id]" class="col-6 btn btn-info">
                <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="col-6 btn btn-danger" (click)="deleteEmpleado(empleado.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </div>
</div>